@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:wght@400;500;700&display=swap');

.my-logo {
    font-family: 'Bebas Neue';
    font-size: 42px;
}

.my-title {
    font-family: 'Ubuntu';
    font-weight: 700;
}

.my-section-title, .my-card-title {
    font-family: 'Ubuntu';
    font-weight: 500;
}

p, .my-subtitle {
    font-family: 'Ubuntu';
}