/** Typography */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

$color-red: #d33847;
$color-white: #fff;
$color-light: #eee;
$color-dark: #403f3c;

$segment-header-size: 2.5em;

.segment-base {
    min-height: 100vh;
}

/**
 * Properties guidelines:
 * Please write the properties in this order:
 * - Inheritance (@extend)
 * - Function (@mixin)
 * - Color
 * - Position
 * - Size
 */
.segment-1 {
    @extend .segment-base;
    background: $color-red;

    .page-header {
        min-height: $segment-header-size;

        #bystudent-title {
            color: $color-white;

            margin-top: 22px;
            margin-left: 32px;

            text-decoration: none;
            font-size: 48px;
            font-family: 'Bebas Neue', sans-serif;
        }
    }

    .title-container {
        color: $color-white;
        margin: 7em auto;
        max-width: fit-content;
        font-family: 'Ubuntu', sans-serif;
        text-align: center;

        .title {
            font-size: 42px;
        }

        .subtitle {
            font-size: 24px;
            font-weight: 300;
        }
    }

    /** TODO: Decorator SVG as a background */
}

.segment-2 {
    @extend .segment-base;
    background: $color-light;

    .segment-header {
        min-height: $segment-header-size;
        
        #goals {
            color: $color-dark;

            padding-top: 1.25em;
            padding-bottom: 1.25em;

            font-size: 24px;
            text-align: center;
        }
    }
}

.footer {
    background: $color-dark;
    padding-top: 22px;
    min-height: 60px;

    .copyright {
        color: $color-white;
        
        margin: 0 auto;
        width: fit-content;
        
        text-align: center;
        font-size: 14px;
    }
}